<%- include('patials/adminheader') %>
    <a href="/patient-list-update" class="btn btn-add my-3">Quay lại</a>
    <h3>
        Thêm tình trạng cho bệnh nhân:
        <i><%= name %></i>
    </h3>
    <hr>
    <form action="/add-patient-status/?id=<%= id %>&name=<%= name %>" method="post">
        <label for="name">Tên trạng thái: </label>
        <input type="text" name="nameOfStatus" required><br><br>

        <label for="timeOfStatus">Thời gian: </label>
        <input type="datetime-local" required min="2021-01-01T00:00" max="2021-07-01T00:00" name="timeOfStatus"><br><br>
        <input type="submit" value="Thêm!">
    </form>
    <%- include('patials/adminfooter') %>