<%- include('patials/adminheader') %>
    <a href="/patient-list-update" class="btn btn-add my-3">Quay lại</a>
    <h3>Sửa tình trạng bệnh nhân
        <%= name %>
    </h3>
    <h5 class="mb-3">
        Status ID:
        <%= sttId %>
    </h5>
    <hr>

    <form action="/edit-patient-status/?id=<%= sttId %>&patientId=<%= id %>&paName=<%= name %>" method="post" style="margin-left: 30%;">
        <label for="name">Tên trạng thái: </label>
        <input type="text" name="nameOfStatus"><br><br>

        <label for="timeOfStatus">Thời gian: </label>
        <input type="datetime-local" min="2021-01-01T00:00" max="2021-07-01T00:00" name="timeOfStatus"><br><br>
        <input type="submit" value="Sửa!">
    </form>
    <%- include('patials/adminfooter') %>