<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>
        <%= title%>
    </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossOrigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://js.arcgis.com/4.15/esri/themes/light/main.css">

</head>

<body>
    <header class="header">
        <div class="logo">
            <div class="logo-icon"><img src="/img/GreenMask.png" style="width: 35px; height: 35px"></div>
        </div>
        <nav class="nav">
            <ul class="menu">

                <li class="menu-item active">
                    <a href="/" class="menu-link ">Bản đồ</a>
                </li>
                <li class="menu-item">
                    <a href="statistic.html" class="menu-link">Thống kê</a>
                </li>
                <li class="menu-item">
                    <a href="/direction" class="menu-link">Lộ trình</a>
                </li>
            </ul>
        </nav>
        <!-- <div class="form-group">
          <div class="btn-group">
              <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Tìm kiếm nhanh">
              <div class="btn btn-info">Tìm</div>
          </div>
      </div> -->

        <form id="searchWidgetForm" class="form-group ml-auto mr-5">
            <!-- <input type="text" placeholder="Tìm kiếm" />
            <button type="submit" class="fa fa-search"></i></button> -->
            <div id="searchWidget"></div>
        </form>
    </header>
    <div id="viewDiv"></div>
    <table id="patients" style="margin-top: 20px;" class="table">
        <tr>
            <th>Tên bệnh nhân</th>
            <th>Thời gian</th>
            <th>Hành động</th>
            <th>Hành động</th>
        </tr>
        <% patients.forEach(patient => { %>
            <tr>
                <td>
                    <%= patient.name%>
                </td>
                <td>
                    <%= patient.yearOfBirth%>
                </td>
                <td>
                    <%= patient.detailAdd%>
                </td>
                <td>
                    <%= patient.long %>
                </td>
                <td>
                    <%= patient.lat%>
                </td>

            </tr>
            <% }) %>
    </table>

    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://js.arcgis.com/4.15/"></script>
    <script>
        // fetch(
        //         '/api/get-all'
        //     )
        //     .then(data => data.text())
        //     .then(data => console.log(JSON.parse(data)))
        require([
            "esri/Map",
            "esri/views/MapView",
            "esri/Graphic",
            "esri/layers/GraphicsLayer",
            "esri/widgets/LayerList",
            "esri/widgets/BasemapGallery",
            "esri/widgets/Legend",
            "esri/widgets/Expand",
            "esri/widgets/Search",
            "esri/widgets/Track",
            "esri/layers/GeoJSONLayer",
            "esri/widgets/Directions",
            "esri/config"
        ], function(Map, MapView, Graphic, GraphicsLayer, LayerList, BasemapGallery, Legend, Expand, Search, Track, GeoJSONLayer, Directions,
            esriConfig) {
            esriConfig.apiKey = "AAPKc1f7559b59c44a1397e39b4f2b87ebc6f0KRFFVS8U5tWT8HBBMXDbTbSjKVwGiQOmbF1LJYadDZLWfya-c13h_TIC36h0F6";
            var map = new Map({
                basemap: "topo-vector"
            });

            var view = new MapView({
                container: "viewDiv",
                map: map,
                center: [106.66378382845666, 10.78381078295041],
                zoom: 16,
                highlightOptions: {
                    color: "blue"
                }
            });

            map.on("load", function() {
                map.graphics.enableMouseEvents();
            });

            var searchWidget = new Search({
                view: view,
                container: "searchWidget"
            });
            const directExpand = new Expand({
                content: new Directions({
                    view: view
                }),
                view: view,
                group: "top-left"
            })

            // Add the Directions widget to the top right corner of the view


            var graphicsLayer = new GraphicsLayer();
            // Create attributes

            var graphicsLayerPoint = new GraphicsLayer();

            var graphicsLayerPolygon = new GraphicsLayer();


            var graphicsLayerPatient = new GraphicsLayer();
            var temp = [];
            var PatientList = <%- JSON.stringify(patients) %>
            console.log(PatientList)
            for (var i = PatientList.length - 1; i >= 0; i--) {
                temp.push(PatientList[i]);
            }
            var dataPatient = temp.map(patient => ({
                    type: "point",
                    longitude: patient.long,
                    latitude: patient.lat,
                    Name: patient.name,
                    Year: patient.yearOfBirth,
                    Location: patient.detailAdd,
                    Time: patient.accTime,
                    Status: patient.status,
                    symbol: {
                        type: "picture-marker",
                        url: "/img/patient.png",
                        width: "24px",
                        height: "24px"
                    },
                    popupTemplate: {
                        title: "{Name}",
                        content: "<b>Năm sinh: </b>{Year}<br><b>Địa chỉ: </b>{Location}<br><b>Ngày công bố: </b>{Time}<br><b>Tình trạng: </b>{Status}"

                    }

                }))
                // console.log(dataPatient)

            var createGraphic = function(data) {
                return new Graphic({
                    geometry: data,
                    symbol: data.symbol,
                    attributes: data,
                    popupTemplate: data.popupTemplate
                });
            };

            dataPatient.forEach(function(data) {
                // console.log(data)
                var data1 = createGraphic(data)
                graphicsLayerPatient.add(data1);
            });
            graphicsLayerPatient.title = "Vị trí bệnh nhân"
            map.add(graphicsLayerPatient);

            var track = new Track({
                view: view
            });
            view.ui.add(track, "top-left");

            view.ui.add(directExpand, {
                position: "top-left"
            });
            view.ui.add(
                [
                    new Expand({
                        content: new BasemapGallery({
                            view: view
                        }),
                        view: view,
                        expandIconClass: "esri-icon-basemap",
                        group: "top-right"
                    }),
                    new Expand({
                        content: new LayerList({
                            view: view,
                        }),
                        view: view,
                        expanded: true,
                        group: "top-right"
                    }),
                    new Expand({
                        content: new Legend({
                            view: view
                        }),
                        view: view,
                        group: "top-right"
                    })
                ], "top-right"

            );
        });
    </script>
</body>

</html>