<%- include('patials/adminheader') %>
    <h3>Danh sách bệnh nhân</h3>
    <hr>
    <a href="/get-patient" class="btn btn-add my-3">Thêm bệnh nhân</a>
    <table id="patients" class="table">
        <tr>

            <th>Tên bệnh nhân</th>
            <th>Năm sinh</th>
            <th>Điểm đã đến</th>
            <th>Hành động</th>
            <th>Tình trạng</th>

        </tr>
        <% patients.forEach(patient => { %>
            <tr>
                <td>
                    <%= patient.name %>
                </td>
                <td>
                    <%= patient.yearOfBirth %>
                </td>
                <td>
                    <a href="http://localhost:3000/add-event/?id=<%= patient._id %>&name=<%= patient.name %>"><i class="fas fa-plus"></i></a>
                </td>
                <td>
                    <a onclick="deletePatient(this)" data-patient_id="<%= patient._id %>" id="<%= patient._id %>"><i class="fas fa-trash-alt"></i></a>
                    <a href="http://localhost:3000/update-patient/?id=<%= patient._id %>&name=<%= patient.name %>"><i class="fas fa-edit"></i></a>
                    <a href="http://localhost:3000/get-detail-patient/?id=<%= patient._id %>"><i class="fas fa-info-circle"></i></a>
                </td>
                <td>
                    <a href="http://localhost:3000/add-patient-status/?id=<%= patient._id %>&name=<%= patient.name %>"><i class="fas fa-plus"></i></a>
                    <a href="http://localhost:3000/all-patient-status/?id=<%= patient._id %>&name=<%= patient.name %>"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
            <% }) %>
    </table>
    <%- include('patials/adminfooter') %>