<%- include('patials/adminheader') %>
    <a href="/patient-list-update" class="btn btn-add my-3">Quay lại</a>
    <h3>
        Tình trạng của bệnh nhân:
        <i><%= name %></i>
    </h3>
    <hr>
    <a style="margin-top: 20px; margin-bottom: 20px;" href="http://localhost:3000/add-patient-status/?id=<%= id %>&name=<%= name %>"><i class="fas fa-plus"></i> Thêm trạng thái mới</a>
    <table id="patients" style="margin-top: 20px;" class="table">
        <tr>
            <th>Tên trạng thái</th>
            <th>Thời gian</th>
            <th>Hành động</th>
        </tr>
        <% status.forEach(stt => { %>
            <tr>
                <td>
                    <%= stt.nameOfStatus %>
                </td>
                <td>
                    <%= stt.timeOfStatus.time %>
                </td>
                <td>
                    <a onclick="deleteStatus(this)" data-status_id="<%= stt._id %>" data-patient_name="<%= name %>" data-patient_id="<%= id %>"><i class="fas fa-trash-alt"></i></a>
                    <a href="http://localhost:3000/edit-status/?id=<%= stt._id %>&patientId=<%= id %>&patientName=<%= name %>"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
            <% }) %>
    </table>
    <%- include('patials/adminfooter') %>